@mixin flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin button {
    background-color: transparent;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px 15px;
    margin: 2rem 0rem 1rem 0rem;
    border: 1px solid white;
    display: inline-block;
}

@mixin heading {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    letter-spacing: 0.1rem;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 3rem;
    @include heading;
}

h2 {
    font-size: 2.5rem;
    @include heading;
}

h3 {
    font-size: 2rem;
    @include heading;
}

p,
ol {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    text-align: justify;
}

a {
    @include button;
}

section {
    padding: 0rem 2rem;
}

// styling header and nav 

header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.85);
    transition: 0.3s;

    .overlay-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        list-style-type: none;

        li > a {
            display: block;
            color: rgb(218, 218, 218);
            text-decoration: none;
            padding: 5px;
            font-size: 2.5rem;

            &:hover {
                color: red;
            }
        }
    }
}

button.open-bt,
button.close-bt {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: 4px;
    cursor: pointer;
}

button.close-bt {
    position: absolute;
    right: 5%;
    top: 10%;
    font-size: 3rem;
}

div.social-icon {
    margin-top: 25px;
}

.social-icon a {
    color: rgb(218, 218, 218);
    text-decoration: none;
    padding: 10px;
    font-size: 2.5rem;

}

// end header and nav

section#top {
    height: 100vh;
    @include flexbox;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/medios/background-leaves-2.jpg") no-repeat center fixed;
    background-size: cover;
    overflow: hidden;

    div {
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        text-align: center;

        .pride-cl {
            background: linear-gradient(90deg, #D12229, #F68A1E, #FDE01A,
                    #007940, #24408E, #732982);
            background-clip: text;
            color: transparent;
            text-transform: uppercase;
        }
    }
}

// start to style the menu
#menu {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url(/medios/background-leaves-mobile.webp) no-repeat fixed;
    background-size: auto 1000px;
    
}

.fd-hd {
    background-color: rgba(0, 0, 0, 0.212);
    border: 2px solid white;
    color: white;
    padding: 3rem;
    margin-bottom: 4rem;
}

.food-container {
    @include flexbox;
}

article {
    border: 2px solid black;
    border-radius: 0.5rem;
    margin-bottom: 4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 0px 13px 27px -5px rgba(107, 107, 112, 0.25), 0px 8px 16px -8px rgba(109, 109, 109, 0.3);

    h3 {
        width: 80%;
        margin: 0 auto 1rem auto;
    }

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-bottom: 1.5rem;
        border-radius: 0.4rem 0.4rem 0 0;
    }

    p {
        padding: 0 2rem;
        text-align: center;
    }

    ol {
        padding: 0 4rem;
        text-align: left;

        li:first-child {
            margin-bottom: 1rem;
        }
    }
}

article.last{
    margin-bottom: 15rem;
}

.alergenos {
    text-align: center;

    img {
        width: 32px;
        height: 32px;
        margin: 1rem 0 1.5rem 0;
    }
}